.wrapper {
  height: 100vh;
  margin-top: 20px;
}
.login {
  width: 280px;
  padding: 20px 10px;
  height: min-content;
  color: white;
  border-radius: 5px;
  background-color: rgba(36, 4, 155, 0.5);
}
.as {
  display: flex;
  margin-top: -200px;
  gap: 1rem;
}
.ass {
  display: flex;
  gap: 1rem;
}
.ha {
  font-size: 22px;
}
.ce {
  margin-top: -200px;
}
.haa {
  font-size: 22px;
  margin-top: 14px;
}
.w {
}
