.leaflet-container {
  height: 300px;
  width: 300px;
  margin-left: 480px;
  margin-top: 20px;
}
.divv {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 800px;
  height: 340px;
}
.asaa {
  position: absolute;
  top: 230px;
  left: 170px;
}
.roww {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.as {
  margin-left: 130px;
}
.ass {
  margin-left: 130px;
}
.h1div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.ha {
  margin-top: 40px;
}
.haa {
  margin-top: 30px;
}
